# Preparing Data for Group Project

In [1]:
import pandas as pd
from urllib.request import urlopen
mared = pd.read_pickle(urlopen('https://github.com/aaront002/Marriage-and-Ed/raw/master/mared.pkl'),compression=None)

Filtering data to only retrieve fertility data for group project

In [2]:
mared.where(mared["SeriesName"]=="Fertility rate, total (births per woman)", inplace = True)

In [3]:
mared

,SeriesName,CountryName,CountryCode,1990,2000,2010
0,"Fertility rate, total (births per woman)",Afghanistan,AFG,7.466000,7.485000,5.977000
1,"Fertility rate, total (births per woman)",Albania,ALB,2.978000,2.157000,1.660000
2,"Fertility rate, total (births per woman)",Algeria,DZA,4.726000,2.514000,2.860000
3,"Fertility rate, total (births per woman)",American Samoa,ASM,NaN,NaN,NaN
4,"Fertility rate, total (births per woman)",Andorra,AND,NaN,NaN,1.270000
5,"Fertility rate, total (births per woman)",Angola,AGO,7.272000,6.639000,6.194000
6,"Fertility rate, total (births per woman)",Antigua and Barbuda,ATG,2.067000,2.200000,1.988000
7,"Fertility rate, total (births per woman)",Arab World,ARB,5.186832,3.845713,3.470384
8,"Fertility rate, total (births per woman)",Argentina,ARG,2.997000,2.542000,2.346000
9,"Fertility rate, total (births per woman)",Armenia,ARM,2.544000,1.648000,1.722000
10,"Fertility rate, total (births per woman)",Aruba,ABW,2.249000,1.872000,1.768000
11,"Fertility rate, total (births per woman)",Australia,AUS,1.902000,1.756000,1.928000
12,"Fertility rate, total (births per woman)",Austria,AUT,1.460000,1.360000,1.440000
13,"Fertility rate, total (births per woman)",Azerbaijan,AZE,2.740000,2.000000,1.920000
14,"Fertility rate, total (births per woman)","Bahamas, The",BHS,2.640000,2.073000,1.865000
15,"Fertility rate, total (births per woman)",Bahrain,BHR,3.732000,2.795000,2.164000
16,"Fertility rate, total (births per woman)",Bangladesh,BGD,4.495000,3.169000,2.324000
17,"Fertility rate, total (births per woman)",Barbados,BRB,1.740000,1.775000,1.687000
18,"Fertility rate, total (births per woman)",Belarus,BLR,1.913000,1.317000,1.494000
19,"Fertility rate, total (births per woman)",Belgium,BEL,1.620000,1.670000,1.860000
20,"Fertility rate, total (births per woman)",Belize,BLZ,4.508000,3.601000,2.690000
21,"Fertility rate, total (births per woman)",Benin,BEN,6.744000,5.962000,5.362000
22,"Fertility rate, total (births per woman)",Bermuda,BMU,NaN,1.740000,1.760000
23,"Fertility rate, total (births per woman)",Bhutan,BTN,5.493000,3.515000,2.301000
24,"Fertility rate, total (births per woman)",Bolivia,BOL,4.890000,4.051000,3.213000
25,"Fertility rate, total (births per woman)",Bosnia and Herzegovina,BIH,1.772000,1.497000,1.315000
26,"Fertility rate, total (births per woman)",Botswana,BWA,4.485000,3.304000,3.022000
27,"Fertility rate, total (births per woman)",Brazil,BRA,2.902000,2.300000,1.796000
28,"Fertility rate, total (births per woman)",British Virgin Islands,VGB,NaN,NaN,NaN
29,"Fertility rate, total (births per woman)",Brunei Darussalam,BRN,3.290000,2.346000,1.937000
...,...,...,...,...,...,...
1285,NaN,NaN,NaN,NaN,NaN,NaN
1286,NaN,NaN,NaN,NaN,NaN,NaN
1287,NaN,NaN,NaN,NaN,NaN,NaN
1288,NaN,NaN,NaN,NaN,NaN,NaN
1289,NaN,NaN,NaN,NaN,NaN,NaN
1290,NaN,NaN,NaN,NaN,NaN,NaN
1291,NaN,NaN,NaN,NaN,NaN,NaN
1292,NaN,NaN,NaN,NaN,NaN,NaN
1293,NaN,NaN,NaN,NaN,NaN,NaN
1294,NaN,NaN,NaN,NaN,NaN,NaN
1295,NaN,NaN,NaN,NaN,NaN,NaN
1296,NaN,NaN,NaN,NaN,NaN,NaN
1297,NaN,NaN,NaN,NaN,NaN,NaN
1298,NaN,NaN,NaN,NaN,NaN,NaN
1299,NaN,NaN,NaN,NaN,NaN,NaN
1300,NaN,NaN,NaN,NaN,NaN,NaN
1301,NaN,NaN,NaN,NaN,NaN,NaN
1302,NaN,NaN,NaN,NaN,NaN,NaN
1303,NaN,NaN,NaN,NaN,NaN,NaN
1304,NaN,NaN,NaN,NaN,NaN,NaN
1305,NaN,NaN,NaN,NaN,NaN,NaN
1306,NaN,NaN,NaN,NaN,NaN,NaN
1307,NaN,NaN,NaN,NaN,NaN,NaN
1308,NaN,NaN,NaN,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN
1310,NaN,NaN,NaN,NaN,NaN,NaN
1311,NaN,NaN,NaN,NaN,NaN,NaN
1312,NaN,NaN,NaN,NaN,NaN,NaN
1313,NaN,NaN,NaN,NaN,NaN,NaN
1314,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
mared.tail()

     SeriesName CountryName CountryCode  1990  2000  2010
1310        NaN         NaN         NaN   NaN   NaN   NaN
1311        NaN         NaN         NaN   NaN   NaN   NaN
1312        NaN         NaN         NaN   NaN   NaN   NaN
1313        NaN         NaN         NaN   NaN   NaN   NaN
1314        NaN         NaN         NaN   NaN   NaN   NaN

## Continent Data

In [5]:
link1='https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent_(data_file)'
cont=pd.read_html(link1,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]

In [6]:
cont

      CC a-2  a-3      #                                               Name
0     AS  AF  AFG    4.0                   Afghanistan, Islamic Republic of
1     EU  AL  ALB    8.0                               Albania, Republic of
2     AN  AQ  ATA   10.0       Antarctica (the territory South of 60 deg S)
3     AF  DZ  DZA   12.0           Algeria, People's Democratic Republic of
4     OC  AS  ASM   16.0                                     American Samoa
5     EU  AD  AND   20.0                           Andorra, Principality of
6     AF  AO  AGO   24.0                                Angola, Republic of
7    NaN  AG  ATG   28.0                                Antigua and Barbuda
8     AS  AZ  AZE   31.0                            Azerbaijan, Republic of
9     EU  AZ  AZE   31.0                            Azerbaijan, Republic of
10    SA  AR  ARG   32.0                      Argentina, Argentine Republic
11    OC  AU  AUS   36.0                         Australia, Commonwealth of
12    EU  AT  AUT   40.0                               Austria, Republic of
13   NaN  BS  BHS   44.0                       Bahamas, Commonwealth of the
14    AS  BH  BHR   48.0                                Bahrain, Kingdom of
15    AS  BD  BGD   50.0                   Bangladesh, People's Republic of
16    AS  AM  ARM   51.0                               Armenia, Republic of
17    EU  AM  ARM   51.0                               Armenia, Republic of
18   NaN  BB  BRB   52.0                                           Barbados
19    EU  BE  BEL   56.0                                Belgium, Kingdom of
20   NaN  BM  BMU   60.0                                            Bermuda
21    AS  BT  BTN   64.0                                 Bhutan, Kingdom of
22    SA  BO  BOL   68.0                               Bolivia, Republic of
23    EU  BA  BIH   70.0                             Bosnia and Herzegovina
24    AF  BW  BWA   72.0                              Botswana, Republic of
25    AN  BV  BVT   74.0                          Bouvet Island (Bouvetoya)
26    SA  BR  BRA   76.0                     Brazil, Federative Republic of
27   NaN  BZ  BLZ   84.0                                             Belize
28    AS  IO  IOT   86.0  British Indian Ocean Territory (Chagos Archipe...
29    OC  SB  SLB   90.0                                    Solomon Islands
..   ...  ..  ...    ...                                                ...
232   AS  AE  ARE  784.0                               United Arab Emirates
233   AF  TN  TUN  788.0                         Tunisia, Tunisian Republic
234   AS  TR  TUR  792.0                                Turkey, Republic of
235   EU  TR  TUR  792.0                                Turkey, Republic of
236   AS  TM  TKM  795.0                                       Turkmenistan
237  NaN  TC  TCA  796.0                           Turks and Caicos Islands
238   OC  TV  TUV  798.0                                             Tuvalu
239   AF  UG  UGA  800.0                                Uganda, Republic of
240   EU  UA  UKR  804.0                                            Ukraine
241   EU  MK  MKD  807.0         Macedonia, The Former Yugoslav Republic of
242   AF  EG  EGY  818.0                            Egypt, Arab Republic of
243   EU  GB  GBR  826.0  United Kingdom of Great Britain & Northern Ire...
244   EU  GG  GGY  831.0                             Guernsey, Bailiwick of
245   EU  JE  JEY  832.0                               Jersey, Bailiwick of
246   EU  IM  IMN  833.0                                        Isle of Man
247   AF  TZ  TZA  834.0                       Tanzania, United Republic of
248  NaN  US  USA  840.0                           United States of America
249  NaN  VI  VIR  850.0                       United States Virgin Islands
250   AF  BF  BFA  854.0                                       Burkina Faso
251   SA  UY  URY  858.0                       Uruguay, Eastern Republic of
252   AS  UZ  UZB  860.0                            Uzbekistan, Republic of
253   SA  VE  VEN  862.0                  Venezuela, Bolivarian Republic of
254   OC  WF  WLF  876.0                                  Wallis and Futuna
255   OC  WS  WSM  882.0                        Samoa, Independent State of
256   AS  YE  YEM  887.0                                              Yemen
257   AF  ZM  ZMB  894.0                                Zambia, Republic of
258   AS  XD  NaN    NaN                        United Nations Neutral Zone
259   AS  XE  NaN    NaN                     Iraq-Saudi Arabia Neutral Zone
260   AS  XS  NaN    NaN                                    Spratly Islands
261   OC  XX  NaN    NaN                                 Disputed Territory

[262 rows x 5 columns]

In [7]:
cont.drop(columns=['a-2','#'])

      CC  a-3                                               Name
0     AS  AFG                   Afghanistan, Islamic Republic of
1     EU  ALB                               Albania, Republic of
2     AN  ATA       Antarctica (the territory South of 60 deg S)
3     AF  DZA           Algeria, People's Democratic Republic of
4     OC  ASM                                     American Samoa
5     EU  AND                           Andorra, Principality of
6     AF  AGO                                Angola, Republic of
7    NaN  ATG                                Antigua and Barbuda
8     AS  AZE                            Azerbaijan, Republic of
9     EU  AZE                            Azerbaijan, Republic of
10    SA  ARG                      Argentina, Argentine Republic
11    OC  AUS                         Australia, Commonwealth of
12    EU  AUT                               Austria, Republic of
13   NaN  BHS                       Bahamas, Commonwealth of the
14    AS  BHR                                Bahrain, Kingdom of
15    AS  BGD                   Bangladesh, People's Republic of
16    AS  ARM                               Armenia, Republic of
17    EU  ARM                               Armenia, Republic of
18   NaN  BRB                                           Barbados
19    EU  BEL                                Belgium, Kingdom of
20   NaN  BMU                                            Bermuda
21    AS  BTN                                 Bhutan, Kingdom of
22    SA  BOL                               Bolivia, Republic of
23    EU  BIH                             Bosnia and Herzegovina
24    AF  BWA                              Botswana, Republic of
25    AN  BVT                          Bouvet Island (Bouvetoya)
26    SA  BRA                     Brazil, Federative Republic of
27   NaN  BLZ                                             Belize
28    AS  IOT  British Indian Ocean Territory (Chagos Archipe...
29    OC  SLB                                    Solomon Islands
..   ...  ...                                                ...
232   AS  ARE                               United Arab Emirates
233   AF  TUN                         Tunisia, Tunisian Republic
234   AS  TUR                                Turkey, Republic of
235   EU  TUR                                Turkey, Republic of
236   AS  TKM                                       Turkmenistan
237  NaN  TCA                           Turks and Caicos Islands
238   OC  TUV                                             Tuvalu
239   AF  UGA                                Uganda, Republic of
240   EU  UKR                                            Ukraine
241   EU  MKD         Macedonia, The Former Yugoslav Republic of
242   AF  EGY                            Egypt, Arab Republic of
243   EU  GBR  United Kingdom of Great Britain & Northern Ire...
244   EU  GGY                             Guernsey, Bailiwick of
245   EU  JEY                               Jersey, Bailiwick of
246   EU  IMN                                        Isle of Man
247   AF  TZA                       Tanzania, United Republic of
248  NaN  USA                           United States of America
249  NaN  VIR                       United States Virgin Islands
250   AF  BFA                                       Burkina Faso
251   SA  URY                       Uruguay, Eastern Republic of
252   AS  UZB                            Uzbekistan, Republic of
253   SA  VEN                  Venezuela, Bolivarian Republic of
254   OC  WLF                                  Wallis and Futuna
255   OC  WSM                        Samoa, Independent State of
256   AS  YEM                                              Yemen
257   AF  ZMB                                Zambia, Republic of
258   AS  NaN                        United Nations Neutral Zone
259   AS  NaN                     Iraq-Saudi Arabia Neutral Zone
260   AS  NaN                                    Spratly Islands
261   OC  NaN                                 Disputed Territory

[262 rows x 3 columns]

In [8]:
cont.drop(columns=['a-2','#'], inplace= True)

In [9]:
cont.head()

   CC  a-3                                          Name
0  AS  AFG              Afghanistan, Islamic Republic of
1  EU  ALB                          Albania, Republic of
2  AN  ATA  Antarctica (the territory South of 60 deg S)
3  AF  DZA      Algeria, People's Democratic Republic of
4  OC  ASM                                American Samoa

Changing header names

In [10]:
OldToNew={cont.columns[0]:'ContinentCode',
          cont.columns[1]:'CountryCode',
          cont.columns[2]:'CountryName'}

In [11]:
cont.rename(columns=OldToNew,inplace=True)

In [12]:
cont.head()

  ContinentCode CountryCode                                   CountryName
0            AS         AFG              Afghanistan, Islamic Republic of
1            EU         ALB                          Albania, Republic of
2            AN         ATA  Antarctica (the territory South of 60 deg S)
3            AF         DZA      Algeria, People's Democratic Republic of
4            OC         ASM                                American Samoa

## Merging the Data

In [13]:
cont.drop(columns=['CountryName'], inplace= True)

In [14]:
merge1=cont.merge(mared,on="CountryCode")

In [15]:
merge1

,ContinentCode,CountryCode,SeriesName,CountryName,1990,2000,2010
0,AS,AFG,"Fertility rate, total (births per woman)",Afghanistan,7.466,7.485,5.977
1,EU,ALB,"Fertility rate, total (births per woman)",Albania,2.978,2.157,1.660
2,AF,DZA,"Fertility rate, total (births per woman)",Algeria,4.726,2.514,2.860
3,OC,ASM,"Fertility rate, total (births per woman)",American Samoa,NaN,NaN,NaN
4,EU,AND,"Fertility rate, total (births per woman)",Andorra,NaN,NaN,1.270
5,AF,AGO,"Fertility rate, total (births per woman)",Angola,7.272,6.639,6.194
6,NaN,ATG,"Fertility rate, total (births per woman)",Antigua and Barbuda,2.067,2.200,1.988
7,AS,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
8,EU,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
9,SA,ARG,"Fertility rate, total (births per woman)",Argentina,2.997,2.542,2.346
10,OC,AUS,"Fertility rate, total (births per woman)",Australia,1.902,1.756,1.928
11,EU,AUT,"Fertility rate, total (births per woman)",Austria,1.460,1.360,1.440
12,NaN,BHS,"Fertility rate, total (births per woman)","Bahamas, The",2.640,2.073,1.865
13,AS,BHR,"Fertility rate, total (births per woman)",Bahrain,3.732,2.795,2.164
14,AS,BGD,"Fertility rate, total (births per woman)",Bangladesh,4.495,3.169,2.324
15,AS,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
16,EU,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
17,NaN,BRB,"Fertility rate, total (births per woman)",Barbados,1.740,1.775,1.687
18,EU,BEL,"Fertility rate, total (births per woman)",Belgium,1.620,1.670,1.860
19,NaN,BMU,"Fertility rate, total (births per woman)",Bermuda,NaN,1.740,1.760
20,AS,BTN,"Fertility rate, total (births per woman)",Bhutan,5.493,3.515,2.301
21,SA,BOL,"Fertility rate, total (births per woman)",Bolivia,4.890,4.051,3.213
22,EU,BIH,"Fertility rate, total (births per woman)",Bosnia and Herzegovina,1.772,1.497,1.315
23,AF,BWA,"Fertility rate, total (births per woman)",Botswana,4.485,3.304,3.022
24,SA,BRA,"Fertility rate, total (births per woman)",Brazil,2.902,2.300,1.796
25,NaN,BLZ,"Fertility rate, total (births per woman)",Belize,4.508,3.601,2.690
26,OC,SLB,"Fertility rate, total (births per woman)",Solomon Islands,5.851,4.719,4.403
27,NaN,VGB,"Fertility rate, total (births per woman)",British Virgin Islands,NaN,NaN,NaN
28,AS,BRN,"Fertility rate, total (births per woman)",Brunei Darussalam,3.290,2.346,1.937
29,EU,BGR,"Fertility rate, total (births per woman)",Bulgaria,1.820,1.260,1.570
...,...,...,...,...,...,...,...
4400,OC,NaN,NaN,NaN,NaN,NaN,NaN
4401,OC,NaN,NaN,NaN,NaN,NaN,NaN
4402,OC,NaN,NaN,NaN,NaN,NaN,NaN
4403,OC,NaN,NaN,NaN,NaN,NaN,NaN
4404,OC,NaN,NaN,NaN,NaN,NaN,NaN
4405,OC,NaN,NaN,NaN,NaN,NaN,NaN
4406,OC,NaN,NaN,NaN,NaN,NaN,NaN
4407,OC,NaN,NaN,NaN,NaN,NaN,NaN
4408,OC,NaN,NaN,NaN,NaN,NaN,NaN
4409,OC,NaN,NaN,NaN,NaN,NaN,NaN
4410,OC,NaN,NaN,NaN,NaN,NaN,NaN
4411,OC,NaN,NaN,NaN,NaN,NaN,NaN
4412,OC,NaN,NaN,NaN,NaN,NaN,NaN
4413,OC,NaN,NaN,NaN,NaN,NaN,NaN
4414,OC,NaN,NaN,NaN,NaN,NaN,NaN
4415,OC,NaN,NaN,NaN,NaN,NaN,NaN
4416,OC,NaN,NaN,NaN,NaN,NaN,NaN
4417,OC,NaN,NaN,NaN,NaN,NaN,NaN
4418,OC,NaN,NaN,NaN,NaN,NaN,NaN
4419,OC,NaN,NaN,NaN,NaN,NaN,NaN
4420,OC,NaN,NaN,NaN,NaN,NaN,NaN
4421,OC,NaN,NaN,NaN,NaN,NaN,NaN
4422,OC,NaN,NaN,NaN,NaN,NaN,NaN
4423,OC,NaN,NaN,NaN,NaN,NaN,NaN
4424,OC,NaN,NaN,NaN,NaN,NaN,NaN
4425,OC,NaN,NaN,NaN,NaN,NaN,NaN
4426,OC,NaN,NaN,NaN,NaN,NaN,NaN
4427,OC,NaN,NaN,NaN,NaN,NaN,NaN
4428,OC,NaN,NaN,NaN,NaN,NaN,NaN
4429,OC,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
contmared=merge1.iloc[:222,:].copy()

In [17]:
contmared

,ContinentCode,CountryCode,SeriesName,CountryName,1990,2000,2010
0,AS,AFG,"Fertility rate, total (births per woman)",Afghanistan,7.466,7.485,5.977
1,EU,ALB,"Fertility rate, total (births per woman)",Albania,2.978,2.157,1.660
2,AF,DZA,"Fertility rate, total (births per woman)",Algeria,4.726,2.514,2.860
3,OC,ASM,"Fertility rate, total (births per woman)",American Samoa,NaN,NaN,NaN
4,EU,AND,"Fertility rate, total (births per woman)",Andorra,NaN,NaN,1.270
5,AF,AGO,"Fertility rate, total (births per woman)",Angola,7.272,6.639,6.194
6,NaN,ATG,"Fertility rate, total (births per woman)",Antigua and Barbuda,2.067,2.200,1.988
7,AS,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
8,EU,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
9,SA,ARG,"Fertility rate, total (births per woman)",Argentina,2.997,2.542,2.346
10,OC,AUS,"Fertility rate, total (births per woman)",Australia,1.902,1.756,1.928
11,EU,AUT,"Fertility rate, total (births per woman)",Austria,1.460,1.360,1.440
12,NaN,BHS,"Fertility rate, total (births per woman)","Bahamas, The",2.640,2.073,1.865
13,AS,BHR,"Fertility rate, total (births per woman)",Bahrain,3.732,2.795,2.164
14,AS,BGD,"Fertility rate, total (births per woman)",Bangladesh,4.495,3.169,2.324
15,AS,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
16,EU,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
17,NaN,BRB,"Fertility rate, total (births per woman)",Barbados,1.740,1.775,1.687
18,EU,BEL,"Fertility rate, total (births per woman)",Belgium,1.620,1.670,1.860
19,NaN,BMU,"Fertility rate, total (births per woman)",Bermuda,NaN,1.740,1.760
20,AS,BTN,"Fertility rate, total (births per woman)",Bhutan,5.493,3.515,2.301
21,SA,BOL,"Fertility rate, total (births per woman)",Bolivia,4.890,4.051,3.213
22,EU,BIH,"Fertility rate, total (births per woman)",Bosnia and Herzegovina,1.772,1.497,1.315
23,AF,BWA,"Fertility rate, total (births per woman)",Botswana,4.485,3.304,3.022
24,SA,BRA,"Fertility rate, total (births per woman)",Brazil,2.902,2.300,1.796
25,NaN,BLZ,"Fertility rate, total (births per woman)",Belize,4.508,3.601,2.690
26,OC,SLB,"Fertility rate, total (births per woman)",Solomon Islands,5.851,4.719,4.403
27,NaN,VGB,"Fertility rate, total (births per woman)",British Virgin Islands,NaN,NaN,NaN
28,AS,BRN,"Fertility rate, total (births per woman)",Brunei Darussalam,3.290,2.346,1.937
29,EU,BGR,"Fertility rate, total (births per woman)",Bulgaria,1.820,1.260,1.570
...,...,...,...,...,...,...,...
192,EU,CHE,"Fertility rate, total (births per woman)",Switzerland,1.580,1.500,1.520
193,AS,SYR,"Fertility rate, total (births per woman)",Syrian Arab Republic,5.309,4.076,3.404
194,AS,TJK,"Fertility rate, total (births per woman)",Tajikistan,5.225,3.967,3.599
195,AS,THA,"Fertility rate, total (births per woman)",Thailand,2.113,1.671,1.542
196,AF,TGO,"Fertility rate, total (births per woman)",Togo,6.185,5.419,4.868
197,OC,TON,"Fertility rate, total (births per woman)",Tonga,4.644,4.250,3.913
198,NaN,TTO,"Fertility rate, total (births per woman)",Trinidad and Tobago,2.453,1.753,1.806
199,AS,ARE,"Fertility rate, total (births per woman)",United Arab Emirates,4.454,2.644,1.819
200,AF,TUN,"Fertility rate, total (births per woman)",Tunisia,3.476,2.142,2.140
201,AS,TUR,"Fertility rate, total (births per woman)",Turkey,3.107,2.503,2.151
202,EU,TUR,"Fertility rate, total (births per woman)",Turkey,3.107,2.503,2.151
203,AS,TKM,"Fertility rate, total (births per woman)",Turkmenistan,4.344,2.824,2.833
204,NaN,TCA,"Fertility rate, total (births per woman)",Turks and Caicos Islands,NaN,NaN,NaN
205,OC,TUV,"Fertility rate, total (births per woman)",Tuvalu,NaN,NaN,NaN
206,AF,UGA,"Fertility rate, total (births per woman)",Uganda,7.091,6.866,6.111
207,EU,UKR,"Fertility rate, total (births per woman)",Ukraine,1.844,1.110,1.443
208,EU,MKD,"Fertility rate, total (births per woman)",North Macedonia,2.206,1.723,1.468
209,AF,EGY,"Fertility rate, total (births per woman)","Egypt, Arab Rep.",4.580,3.340,3.233
210,EU,GBR,"Fertility rate, total (births per woman)",United Kingdom,1.830,1.640,1.920
211,EU,IMN,"Fertility rate, total (births per woman)",Isle of Man,NaN,NaN,NaN
212,AF,TZA,"Fertility rate, total (births per woman)",Tanzania,6.213,5.689,5.427
213,NaN,USA,"Fertility rate, total (births per woman)",United States,2.081,2.056,1.931
214,NaN,VIR,"Fertility rate, total (births per woman)",Virgin Islands (U.S.),2.954,2.060,2.300
215,AF,BFA,"Fertility rate, total (births per woman)",Burkina Faso,7.007,6.592,5.867
216,SA,URY,"Fertility rate, total (births per woman)",Uruguay,2.520,2.237,2.011
217,AS,UZB,"Fertility rate, total (births per woman)",Uzbekistan,4.072,2.580,2.342
218,SA,VEN,"Fertility rate, total (births per woman)","Venezuela, RB",3.448,2.822,2.471
219,OC,WSM,"Fertility rate, total (births per woman)",Samoa,5.118,4.503,4.338
220,AS,YEM,"Fertility rate, total (births per woman)","Yemen, Rep.",8.606,6.313,4.674
221,AF,ZMB,"Fertility rate, total (births per woman)",Zambia,6.442,6.036,5.415

In [18]:
import numpy as np
contmared.ContinentCode=[str(x) for x in contmared.ContinentCode]

In [19]:
contmared.ContinentCode.value_counts()

AF     54
EU     52
AS     51
nan    34
OC     19
SA     12
Name: ContinentCode, dtype: int64

NA for North America is being registered as "Not Available"

In [20]:
#change North America being registered from 'nan' to 'NA'
replacements={'nan': 'NA'}
contmared.ContinentCode.replace(replacements, inplace=True)

In [21]:
#double-checking if the changes worked
contmared.ContinentCode.value_counts()

AF    54
EU    52
AS    51
NA    34
OC    19
SA    12
Name: ContinentCode, dtype: int64

In [22]:
contmared.dtypes

ContinentCode     object
CountryCode       object
SeriesName        object
CountryName       object
1990             float64
2000             float64
2010             float64
dtype: object

In [23]:
contmared

,ContinentCode,CountryCode,SeriesName,CountryName,1990,2000,2010
0,AS,AFG,"Fertility rate, total (births per woman)",Afghanistan,7.466,7.485,5.977
1,EU,ALB,"Fertility rate, total (births per woman)",Albania,2.978,2.157,1.660
2,AF,DZA,"Fertility rate, total (births per woman)",Algeria,4.726,2.514,2.860
3,OC,ASM,"Fertility rate, total (births per woman)",American Samoa,NaN,NaN,NaN
4,EU,AND,"Fertility rate, total (births per woman)",Andorra,NaN,NaN,1.270
5,AF,AGO,"Fertility rate, total (births per woman)",Angola,7.272,6.639,6.194
6,NA,ATG,"Fertility rate, total (births per woman)",Antigua and Barbuda,2.067,2.200,1.988
7,AS,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
8,EU,AZE,"Fertility rate, total (births per woman)",Azerbaijan,2.740,2.000,1.920
9,SA,ARG,"Fertility rate, total (births per woman)",Argentina,2.997,2.542,2.346
10,OC,AUS,"Fertility rate, total (births per woman)",Australia,1.902,1.756,1.928
11,EU,AUT,"Fertility rate, total (births per woman)",Austria,1.460,1.360,1.440
12,NA,BHS,"Fertility rate, total (births per woman)","Bahamas, The",2.640,2.073,1.865
13,AS,BHR,"Fertility rate, total (births per woman)",Bahrain,3.732,2.795,2.164
14,AS,BGD,"Fertility rate, total (births per woman)",Bangladesh,4.495,3.169,2.324
15,AS,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
16,EU,ARM,"Fertility rate, total (births per woman)",Armenia,2.544,1.648,1.722
17,NA,BRB,"Fertility rate, total (births per woman)",Barbados,1.740,1.775,1.687
18,EU,BEL,"Fertility rate, total (births per woman)",Belgium,1.620,1.670,1.860
19,NA,BMU,"Fertility rate, total (births per woman)",Bermuda,NaN,1.740,1.760
20,AS,BTN,"Fertility rate, total (births per woman)",Bhutan,5.493,3.515,2.301
21,SA,BOL,"Fertility rate, total (births per woman)",Bolivia,4.890,4.051,3.213
22,EU,BIH,"Fertility rate, total (births per woman)",Bosnia and Herzegovina,1.772,1.497,1.315
23,AF,BWA,"Fertility rate, total (births per woman)",Botswana,4.485,3.304,3.022
24,SA,BRA,"Fertility rate, total (births per woman)",Brazil,2.902,2.300,1.796
25,NA,BLZ,"Fertility rate, total (births per woman)",Belize,4.508,3.601,2.690
26,OC,SLB,"Fertility rate, total (births per woman)",Solomon Islands,5.851,4.719,4.403
27,NA,VGB,"Fertility rate, total (births per woman)",British Virgin Islands,NaN,NaN,NaN
28,AS,BRN,"Fertility rate, total (births per woman)",Brunei Darussalam,3.290,2.346,1.937
29,EU,BGR,"Fertility rate, total (births per woman)",Bulgaria,1.820,1.260,1.570
...,...,...,...,...,...,...,...
192,EU,CHE,"Fertility rate, total (births per woman)",Switzerland,1.580,1.500,1.520
193,AS,SYR,"Fertility rate, total (births per woman)",Syrian Arab Republic,5.309,4.076,3.404
194,AS,TJK,"Fertility rate, total (births per woman)",Tajikistan,5.225,3.967,3.599
195,AS,THA,"Fertility rate, total (births per woman)",Thailand,2.113,1.671,1.542
196,AF,TGO,"Fertility rate, total (births per woman)",Togo,6.185,5.419,4.868
197,OC,TON,"Fertility rate, total (births per woman)",Tonga,4.644,4.250,3.913
198,NA,TTO,"Fertility rate, total (births per woman)",Trinidad and Tobago,2.453,1.753,1.806
199,AS,ARE,"Fertility rate, total (births per woman)",United Arab Emirates,4.454,2.644,1.819
200,AF,TUN,"Fertility rate, total (births per woman)",Tunisia,3.476,2.142,2.140
201,AS,TUR,"Fertility rate, total (births per woman)",Turkey,3.107,2.503,2.151
202,EU,TUR,"Fertility rate, total (births per woman)",Turkey,3.107,2.503,2.151
203,AS,TKM,"Fertility rate, total (births per woman)",Turkmenistan,4.344,2.824,2.833
204,NA,TCA,"Fertility rate, total (births per woman)",Turks and Caicos Islands,NaN,NaN,NaN
205,OC,TUV,"Fertility rate, total (births per woman)",Tuvalu,NaN,NaN,NaN
206,AF,UGA,"Fertility rate, total (births per woman)",Uganda,7.091,6.866,6.111
207,EU,UKR,"Fertility rate, total (births per woman)",Ukraine,1.844,1.110,1.443
208,EU,MKD,"Fertility rate, total (births per woman)",North Macedonia,2.206,1.723,1.468
209,AF,EGY,"Fertility rate, total (births per woman)","Egypt, Arab Rep.",4.580,3.340,3.233
210,EU,GBR,"Fertility rate, total (births per woman)",United Kingdom,1.830,1.640,1.920
211,EU,IMN,"Fertility rate, total (births per woman)",Isle of Man,NaN,NaN,NaN
212,AF,TZA,"Fertility rate, total (births per woman)",Tanzania,6.213,5.689,5.427
213,NA,USA,"Fertility rate, total (births per woman)",United States,2.081,2.056,1.931
214,NA,VIR,"Fertility rate, total (births per woman)",Virgin Islands (U.S.),2.954,2.060,2.300
215,AF,BFA,"Fertility rate, total (births per woman)",Burkina Faso,7.007,6.592,5.867
216,SA,URY,"Fertility rate, total (births per woman)",Uruguay,2.520,2.237,2.011
217,AS,UZB,"Fertility rate, total (births per woman)",Uzbekistan,4.072,2.580,2.342
218,SA,VEN,"Fertility rate, total (births per woman)","Venezuela, RB",3.448,2.822,2.471
219,OC,WSM,"Fertility rate, total (births per woman)",Samoa,5.118,4.503,4.338
220,AS,YEM,"Fertility rate, total (births per woman)","Yemen, Rep.",8.606,6.313,4.674
221,AF,ZMB,"Fertility rate, total (births per woman)",Zambia,6.442,6.036,5.415

Dropping 1990 and 2010 data in order to more easily merge with team's data and conduct analysis for group project

In [24]:
contmared.drop(columns=['SeriesName','1990','2010'], inplace=True)

In [25]:
contmared.head()

  ContinentCode CountryCode     CountryName   2000
0            AS         AFG     Afghanistan  7.485
1            EU         ALB         Albania  2.157
2            AF         DZA         Algeria  2.514
3            OC         ASM  American Samoa    NaN
4            EU         AND         Andorra    NaN

In [26]:
#renaming year 2000 to Fertility Rate since group data will all be from 2010
OldToNew2={contmared.columns[3]:'FertilityRate'}

In [27]:
contmared.rename(columns=OldToNew2,inplace=True)

In [28]:
contmared

    ContinentCode CountryCode               CountryName  FertilityRate
0              AS         AFG               Afghanistan          7.485
1              EU         ALB                   Albania          2.157
2              AF         DZA                   Algeria          2.514
3              OC         ASM            American Samoa            NaN
4              EU         AND                   Andorra            NaN
5              AF         AGO                    Angola          6.639
6              NA         ATG       Antigua and Barbuda          2.200
7              AS         AZE                Azerbaijan          2.000
8              EU         AZE                Azerbaijan          2.000
9              SA         ARG                 Argentina          2.542
10             OC         AUS                 Australia          1.756
11             EU         AUT                   Austria          1.360
12             NA         BHS              Bahamas, The          2.073
13             AS         BHR                   Bahrain          2.795
14             AS         BGD                Bangladesh          3.169
15             AS         ARM                   Armenia          1.648
16             EU         ARM                   Armenia          1.648
17             NA         BRB                  Barbados          1.775
18             EU         BEL                   Belgium          1.670
19             NA         BMU                   Bermuda          1.740
20             AS         BTN                    Bhutan          3.515
21             SA         BOL                   Bolivia          4.051
22             EU         BIH    Bosnia and Herzegovina          1.497
23             AF         BWA                  Botswana          3.304
24             SA         BRA                    Brazil          2.300
25             NA         BLZ                    Belize          3.601
26             OC         SLB           Solomon Islands          4.719
27             NA         VGB    British Virgin Islands            NaN
28             AS         BRN         Brunei Darussalam          2.346
29             EU         BGR                  Bulgaria          1.260
..            ...         ...                       ...            ...
192            EU         CHE               Switzerland          1.500
193            AS         SYR      Syrian Arab Republic          4.076
194            AS         TJK                Tajikistan          3.967
195            AS         THA                  Thailand          1.671
196            AF         TGO                      Togo          5.419
197            OC         TON                     Tonga          4.250
198            NA         TTO       Trinidad and Tobago          1.753
199            AS         ARE      United Arab Emirates          2.644
200            AF         TUN                   Tunisia          2.142
201            AS         TUR                    Turkey          2.503
202            EU         TUR                    Turkey          2.503
203            AS         TKM              Turkmenistan          2.824
204            NA         TCA  Turks and Caicos Islands            NaN
205            OC         TUV                    Tuvalu            NaN
206            AF         UGA                    Uganda          6.866
207            EU         UKR                   Ukraine          1.110
208            EU         MKD           North Macedonia          1.723
209            AF         EGY          Egypt, Arab Rep.          3.340
210            EU         GBR            United Kingdom          1.640
211            EU         IMN               Isle of Man            NaN
212            AF         TZA                  Tanzania          5.689
213            NA         USA             United States          2.056
214            NA         VIR     Virgin Islands (U.S.)          2.060
215            AF         BFA              Burkina Faso          6.592
216            SA         URY                   Uruguay          2.237
217            AS         UZB                Uzbekistan          2.580
218            SA         VEN             Venezuela, RB          2.822
219            OC         WSM                     Samoa          4.503
220            AS         YEM               Yemen, Rep.          6.313
221            AF         ZMB                    Zambia          6.036

[222 rows x 4 columns]

## Saving File to Disk

### For future uses in Python

In [29]:
contmared.to_pickle("contmared.pkl")

### For future uses in R

In [30]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(contmared,file="contmared.RDS")

rpy2.rinterface.NULL